In [3]:
import requests
import geopandas as gpd
import pandas as pd

In [4]:
base_url = "https://apps.fs.usda.gov/arcx/rest/services/EDW/EDW_MTBS_01/MapServer/63/query"

def fetch_data(start_year, end_year, offset=0, limit=1000):
    params = {
        'where': f'YEAR>={start_year} AND YEAR<={end_year}',
        'outFields': 'FIRE_ID,FIRE_NAME,YEAR,ACRES',
        'returnGeometry': 'false',
        'outSR': 4326,
        'f': 'json',
        'resultRecordCount': limit,
        'resultOffset': offset
    }
    response = requests.get(base_url, params=params)
    data = response.json()
    
    if 'features' in data and len(data['features']) > 0:
        records = [feature['attributes'] for feature in data['features']]
        return pd.DataFrame(records)
    else:
        return pd.DataFrame()  # Return an empty DataFrame if no records are found

# Initialize an empty DataFrame to store all records
ten_years_records = pd.DataFrame()

# Fetch data in smaller chunks
years = [(2012, 2013), (2014, 2016), (2017, 2019), (2020, 2024)]
for start_year, end_year in years:
    offset = 0
    while True:
        df = fetch_data(start_year, end_year, offset)
        if not df.empty:
            ten_years_records = pd.concat([ten_years_records, df], ignore_index=True)
            offset += 1000  # Move to the next batch
        else:
            break  # Exit loop if no more data

# Display the DataFrame
print(ten_years_records)

                    FIRE_ID         FIRE_NAME  YEAR    ACRES
0     FL2845808085120130112       FLORA VISTA  2013    889.0
1     FL2929308118020130302     DURRANCE FIRE  2013   1245.0
2     FL2818808080420130316  OPENING DAY FIRE  2013    702.0
3     FL2810908116820130326  WAGON WHEEL FIRE  2013    875.0
4     FL2846408065320130401            CENTER  2013   2237.0
...                     ...               ...   ...      ...
9816  MT4485811343720200811        BEAR CREEK  2020  14978.0
9817  CA3702412151420200705             CREWS  2020   5802.0
9818  SC3297807985820200229          C-113 FM  2020    939.0
9819  AL3103008683320201017  CN ROCK CREEK 05  2020   1105.0
9820  FL2862308067720200715   FMU 5.1 C AND D  2020    914.0

[9821 rows x 4 columns]

In [5]:
unique_years = ten_years_records['YEAR'].unique()
print("Unique years in the DataFrame:")
print(sorted(unique_years))

Unique years in the DataFrame:
[2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

In [8]:
import requests
import pandas as pd

# Base URL for the API
base_url = "https://apps.fs.usda.gov/arcx/rest/services/EDW/EDW_MTBS_01/MapServer/63/query"

def fetch_data(years, lat_min, lat_max, lon_min, lon_max, offset=0, limit=1000):
    # Create a where clause to include only specific years
    year_filter = " OR ".join([f"YEAR={year}" for year in years])
    params = {
        'where': year_filter,
        'outFields': 'FIRE_ID,FIRE_NAME,YEAR,ACRES',
        'returnGeometry': 'true',
        'outSR': 4326,
        'f': 'json',
        'resultRecordCount': limit,
        'resultOffset': offset,
        'geometry': f'{{"xmin":{lon_min},"ymin":{lat_min},"xmax":{lon_max},"ymax":{lat_max}}}',
        'geometryType': 'esriGeometryEnvelope',
        'spatialRel': 'esriSpatialRelIntersects'
    }
    try:
        response = requests.get(base_url, params=params)
        response.raise_for_status()  # Raise an HTTPError for bad responses
        data = response.json()
        
        if 'features' in data and len(data['features']) > 0:
            records = []
            for feature in data['features']:
                attrs = feature['attributes']
                # Extract geometry coordinates (assuming polygons)
                geometry = feature.get('geometry', {})
                if geometry.get('rings'):
                    # Assuming the first ring is the main polygon outline
                    coordinates = geometry['rings'][0]
                    # Take the average coordinate as a representative point
                    if coordinates:
                        avg_lat = sum([point[1] for point in coordinates]) / len(coordinates)
                        avg_lon = sum([point[0] for point in coordinates]) / len(coordinates)
                        attrs['latitude'] = avg_lat
                        attrs['longitude'] = avg_lon
                records.append(attrs)
            return pd.DataFrame(records)
        else:
            return pd.DataFrame()  # Return an empty DataFrame if no records are found
    except requests.exceptions.RequestException as e:
        print(f"Error fetching data: {e}")
        return pd.DataFrame()  # Return an empty DataFrame on error

# Define bounding box coordinates for California
lat_min = 32.5343  # Southern border
lat_max = 42.0095  # Northern border
lon_min = -124.8489 # Western border
lon_max = -118.5 # Eastern border

# Initialize an empty DataFrame to store all records
all_records = pd.DataFrame()

# Fetch data for the years 2011, 2015 and 2021
years = [2011, 2015, 2021]
offset = 0
limit = 1000  # API limit
while True:
    df = fetch_data(years, lat_min, lat_max, lon_min, lon_max, offset, limit)
    if not df.empty:
        all_records = pd.concat([all_records, df], ignore_index=True)
        offset += limit  # Move to the next batch
    else:
        break  # Exit loop if no more data

# Display the DataFrame
print(all_records.head())
print(f"Total records fetched: {len(all_records)}")
all_records.head()

                 FIRE_ID  FIRE_NAME  YEAR    ACRES   latitude   longitude
0  CA3494811892720210627      SHELL  2021   2048.0  34.901913 -118.906888
1  CA3595912083320210530   SARGENTS  2021   1231.0  36.008244 -120.770943
2  CA3620712156020210618     WILLOW  2021   3090.0  36.206956 -121.542964
3  CA3408411857020210515  PALISADES  2021   1369.0  34.097141 -118.567178
4  CA3451712013120211011     ALISAL  2021  17677.0  34.492122 -120.093559
Total records fetched: 100

                 FIRE_ID  FIRE_NAME  YEAR    ACRES   latitude   longitude
0  CA3494811892720210627      SHELL  2021   2048.0  34.901913 -118.906888
1  CA3595912083320210530   SARGENTS  2021   1231.0  36.008244 -120.770943
2  CA3620712156020210618     WILLOW  2021   3090.0  36.206956 -121.542964
3  CA3408411857020210515  PALISADES  2021   1369.0  34.097141 -118.567178
4  CA3451712013120211011     ALISAL  2021  17677.0  34.492122 -120.093559

In [9]:
unique_years = all_records['YEAR'].unique()
print("Unique years in the DataFrame:")
print(sorted(unique_years))

Unique years in the DataFrame:
[2011, 2015, 2021]

In [12]:
all_records.head()

# Assuming `all_records` is your DataFrame
csv_file_path = 'data/all_fires_2011_2015_2021.csv'

# Save the DataFrame to a CSV file
all_records.to_csv(csv_file_path, index=False)

print(f"DataFrame has been saved to {csv_file_path}")
all_records

DataFrame has been saved to data/all_fires_2011_2015_2021.csv

                  FIRE_ID      FIRE_NAME  YEAR    ACRES   latitude   longitude
0   CA3494811892720210627          SHELL  2021   2048.0  34.901913 -118.906888
1   CA3595912083320210530       SARGENTS  2021   1231.0  36.008244 -120.770943
2   CA3620712156020210618         WILLOW  2021   3090.0  36.206956 -121.542964
3   CA3408411857020210515      PALISADES  2021   1369.0  34.097141 -118.567178
4   CA3451712013120211011         ALISAL  2021  17677.0  34.492122 -120.093559
..                    ...            ...   ...      ...        ...         ...
95  NV3991711980520110730        WILDCAT  2011   2092.0  39.951551 -119.861054
96  NV3997911943320110824    GREAT STONE  2011   2531.0  39.980700 -119.443928
97  NV4044111862420110913  WILLOW CANYON  2011   1219.0  40.447621 -118.635492
98  NV4061311862120110806    LAST CHANCE  2011  22169.0  40.563155 -118.574940
99  CA3776611974120110913       TAMARACK  2011   1014.0  37.776474 -119.732987

[100 rows x 6 columns]